.Rproj.user
.Rhistory
.RData
.Ruserdata
02_Decontamination_cache
02_Decontamination_figures
05_Diff_abund_cache
05_Diff_abund_figures
03_Filter_taxa_cache
03_Filter_taxa_figures
02_Decontamination_files
Archive
DADA2_pseudo/Tree/DADA2.Seqs_decontam_filtered.filtered.align.ckp.gz
DADA2_pseudo/Tree/DADA2.Seqs_decontam_filtered.align.zip
DADA2_pseudo/Tree/DADA2.Seqs_decontam_filtered.filtered.align.mldist
DADA2_pseudo/Tree/DADA2.Seqs_decontam_filtered.filtered.align.model.gz
05_Diff_abund_files
